body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
   
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header style */
.header {
    background-color:#FFF8F3;;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700;   
    margin-top: 5px;
}
/* Main Section styel */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Section style */
.about{
    margin: 100px 0;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding:130px;
}
.about-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
.about-info{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.about-info .info-title{
    font-weight: normal;
    margin: 0;
}
.about-info .info-description{
    font-weight: bold;
    margin: 0;
}
#whatIDo_description{
    max-width: 900px;
    margin: 10px auto;
}
.skills-container{
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.skills{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-description{
    color:  #757575;
}
.resume-container{
    display: flex;
    justify-content: space-between;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item{
    border-bottom: 1px solid #D1D1D1;
    padding-right: 20px;
}
.resume-item-title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-item-description{
    color: #757575;
    max-width: 500px;
}
.download-cv{
    text-align: center;
    margin: 50px 0 50px 0;
}
footer{
    display: flex;
    background-color:  #FFF8F3;
    padding: 130px 230px;
    gap: 100px
}
.footer-column{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.footer-column form{
    display: flex;
    flex-direction: column;
    gap:24px
}
form input, textarea{
    border-radius: 5px;
    background: var(--white-color, #FFF);
    border: 0;
    padding: 18px 35px;
}
#submitBtn{
    width: 25%;
}
.footer-column .section-title, .section-description{
    text-align: left;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.social-links a{
    text-decoration: none;
}